rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    match /quizzes/{quizId} {
      allow read: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "student" 
                 && resource.data.school == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.school
                 && resource.data.class == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.class;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "teacher";
    }

    match /submissions/{submissionId} {
      allow read, write: if request.auth != null;
    }
  }
}
