rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Only admin can manage quizzes
    // Students can only read quizzes that are published
    match /quizzes/{quizId} {
      allow read: if resource.data.published == true;
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Students can create submissions for themselves
    match /submissions/{submissionId} {
        allow create: if request.auth.uid == request.resource.data.userId;
    }
    
    // Users can manage their own profile
    match /users/{userId} {
        allow read, write: if request.auth.uid == userId;
    }

    // Fallback rule to block all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
